body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 1em;
    color: canvastext; 
    background-color: canvas;
}

:root {
    --color-accent: oklch(65% 50% 240); 
    border-bottom-color: oklch(50% 10% 200 / 40%);
    color-scheme: light dark;
}

html {
    accent-color: var(--color-accent);
}

nav {
    display: flex;
    margin-bottom: 2em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* border-bottom-color: oklch(80% 3% 200); */
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
}

nav ul, nav li {
    display: contents;
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    padding-bottom: 0.4em;
    /* border-bottom-color: oklch(80% 3% 200); */
    border-bottom-color: var(--border-color);
    border-bottom-style: solid;
    border-bottom-width: 0.4em;
}

nav a:hover {
    border-bottom-color: var(--color-accent);
    border-bottom-style: solid;
    border-bottom-width: 0.4em;
    padding-bottom: 0.4em; /*my own. without it, grey line shifts*/
    /* background-color: oklch(from var(--color-accent) 95% 5% h) */
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 1em; 
}

label {
    display: grid;
    grid-template-columns: subgrid; 
}

input, textarea {
    font: inherit; 
}

button {
    font: inherit;
    grid-column: 1 / -1; 
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

h2 {
    margin: 0;
}

h1 {
    font-size: 300%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

.resume-page section {
    padding: 1em;
    border: 1px solid oklch(80% 3% 200);
    border-radius: 10px;
    margin-bottom: 0.5em;
    /* background-color: oklch(95% 0% 0); */
}

.resume-page h2 {
    font-size: 1.5em;
    color: var(--color-accent);
}

.resume-page section p {
    margin-bottom: 0.5em;
}

.resume-page time {
    font-style: italic; 
    color: var(--border-color); 
}

.color-scheme {
    position: absolute;
    top: 1rem; 
    right: 1rem; 
    font-size: 80%;
    font-family: inherit;
}

#profile-stats {
    grid-row: 1; 
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#profile-stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

#profile-stats dt {
    font-weight: bold; 
    color: gray; 
}

#profile-stats dd {
    font-size: 1.5rem; 
    grid-row: 2; 
    text-align: center; 

}

article time {
    font-weight: bold; 
}

article p {
    margin-top: 30px; 
}

.latest-projects-title {
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 20px;
}

svg {
    max-width: 20em;
    margin-block: 2em;
  
    /* Do not clip shapes outside the viewBox */
    overflow: visible;
}

.legend {
    padding: 1em; 
    border: 1px solid #ccc; 
    gap: 0.5em; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    flex: 1;
    border-radius: 0.5em; 
}

.legend li {
    display: flex;
    align-items: center; 
    gap: 0.3em; 
}

.legend .swatch {
    width: 1em;
    background-color: var(--color); 
    aspect-ratio: 1 / 1;  
    border-radius: 50%; 
}

.legend li em {
    color: gray;
}

.container {
    display: flex;
    gap: 1em; 
    align-items: center;
}

.searchBar {
    width: 100%; 
    padding: 0.5em; 
    border: 1px solid #ccc;
    border-radius: 0.5em; 
    margin-bottom: 1em; 
}

svg:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
}

path {
    transition: 300ms;
    cursor: pointer;
}

.selected {
    --color: oklch(60% 45% 0) !important;
  
    &:is(path) {
      fill: var(--color);
    }
}

.stats {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; 
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
 }

.stats dt {
    color: gray; 
    font-size: 1rem;
}

.stats dd {
    font-size: 1rem; 
    margin: 0; 
    grid-row: 2; 
}

#chart {
    text-align: center;
  }

.gridlines path,
.gridlines line {
    stroke: grey; 
    stroke-opacity: 0.3;
}
  
h2 {
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: 30px;
}

dl.info {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    margin: 0;
    font-size: 1rem; 
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    backdrop-filter: blur(2px);
    transition-duration: 500ms;
    transition-property: opacity, visibility;
}

dl.info dt {
    /* font-weight: bold; */
    color: gray;
}

dl.info dd {
    margin: 0;
    font-weight: bold;
}

.tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
}
/* 
circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
    
} */
circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
    transition: all 200ms ease-in-out;
    
    @starting-style {
      r: 0;
    }
  
    transition: all 200ms, r calc(var(--r) * 100ms);
  }
  

circle:hover {
    transform: scale(1.5);
}
  
dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
}


@keyframes marching-ants {
    to {
      stroke-dashoffset: -8; /* 5 + 3 */
    }
}

.selection {
fill-opacity: 0.1;
stroke: black;
stroke-opacity: 0.7;
stroke-dasharray: 5 3;
animation: marching-ants 2s linear infinite;
}

circle.selected {
    fill: #ff6b6b;
}

#commit-tooltip {
    display: none; 
}

#commit-tooltip:not([hidden]) {
    display: block; 
}
#chart svg {
    max-width: 80%;
}

.projects img {
    max-width: 290px; 
    height: auto;
}

#sliderContainer {
    display: flex;  
    width: 100%;  
    flex-direction: column;
    flex: 1 ;
    align-items: baseline;
}


#selectedTime {
    margin-left: auto;
}

#commitSlider {
    flex-grow: 1;  
    width: 100%; 
    margin: 0 10px;
    padding: 10px;
    width: 80vw;
}

